# IDE Settings
.vscode/

# Ignore Folder/Extensions:
**/__pycache__/

# Generated Builds
dist/

# Logs
**/*LOG.txt

# Jupyter Notebook Output
*.ipynb_checkpoints

# Other Output
*.gif
*.mp4

# Environment
*env/
*.egg-info
build/

# Local Testing
local_tests/