# Ignore Folder/Extensions:
__pycache__/
*.pyc
build/

# Mujoco Logs
*log*

# Jupyter Notebook Output
*.ipynb_checkpoints

# Other Output
*.gif
*.mp4

# Environment
*env/
*.egg-info

# Local Testing
local_tests/