# IDE Settings
.vscode/

# Ignore Caches
**/__pycache__/
.*_cache/

# Generated Builds
dist/
docs/_build/

# Logs
**/*LOG.txt

# Jupyter Notebook Output
*.ipynb_checkpoints

# Other Output
*.gif
*.mp4
*test.yml

# Environment
.env
*env/
*.egg-info
build/
.coverage

# Bindings
mujoco/
CMake*
_deps/

# Local Testing
local_tests/