# Core
mujoco==3.2.7

# Rendering Media
mediapy==1.2.2

# Data Processing
matplotlib==3.9.2
pyyaml==6.0.2
numpy==2.2.3
scipy==1.15.2

# Progress bar
tqdm==4.67.1
ipywidgets==8.1.5

# Misc
ffmpeg==1.4
trimesh==4.6.2
screeninfo==0.8.1